@media screen and(max-width: 480px) {
    body {
        width: 480px;
    }
}
@media screen and(max-width: 960px) {
    body {
        width: 960px;
    }
}
@media screen and(max-width: 1280px) {
    body {
        width: 1280px;
    }
}

#position_view {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
