@media screen and(max-width: 480px) {
    body {
        width: 480px;
    }
}

@media screen and(max-width: 960px) {
    body {
        width: 960px;
    }
}

@media screen and(max-width: 1280px) {
    body {
        width: 1280px;
    }
}

/* debug用スタイル */
#position_view {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 初期化 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* 画面スクロールを禁止する */
html,
body {
    overflow: hidden;
}

#comment {
    position: fixed;
    top: 300px;
    left: 0;
    width: 100%;
    height: 10vw;
}

#str {
    width: 100%;
    height: 100%;
    left: 0;
    background: white;
}

#submit_btn {
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    right: 0;
}

#clear_btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10vw;
    height: 10vw;
}

body {
    margin-bottom: 55px;
    /* フッタースペースの高さを調整 */
}

/* ******************************************* */
/* 一番下のメニュー */
/* ******************************************* */
#menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    /* フッタースペースの背景色を指定 */
    background-image: linear-gradient(45deg, #ffc107, #ff7b5f);
}

#menu ul {
    list-style: none;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}

#menu a {
    /* 上下左右中心 */
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    width: 75px;
    height: 55px;
}

#menu ul li {
    margin: auto;
    width: 75px;
    height: 55px;
}

#menu img {
    width: 40px;
}

#debug {
    color: #fff;
}

#setting {
    color: #fff;
}

/* ハンバーガーメニュー */
#wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: rgba(33, 33, 33, .9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
}

#wrapper nav ul li {
    padding: 20px 28px;
    list-style: none;
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #ddd;
}


#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: -50px;
    width: 100px;
    height: 24px;
    z-index: 999;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

#wrapper .btn-gnavi span {
    position: absolute;
    width: 30%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 20px;
}

#wrapper .btn-gnavi.open span {
    background: #fff;
    color: #fff;
    background-color: #fff;
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px, 17px) rotate(45deg);
    transform: translate(-7px, 17px) rotate(45deg);
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px, -17px) rotate(-45deg);
    transform: translate(-7px, -17px) rotate(-45deg);
}

#wrapper .contents section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666;
}

/*スタンプ画面*/
#window {
    position: absolute;
    bottom: 0;
    background: #666;
    width: 100%;
    height: 40%;
    right: 0;
}

.stamps {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stamps li {
    padding-top: 5px;
}

.stamps li img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}